@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

@layer components {
	.nav_item {
		@apply ml-8 text-gray-900 hover:text-sky-600 hover:underline underline-offset-1;
	}

	.link {
		@apply focus:outline-none;
	}
}

.no_outline {
	outline: none;
}

#github {
	clip-path: polygon(0% 0%, 75% 0%, 81% 51%, 75% 100%, 0% 100%);
}
